  <div class="contenido_total">
    <div class="titulo_practica">
      <h1 align="center">
        <font color="#052600">Comma Separated Values (CSV) Analyzer with Ajax</font>
      </h1>
      <hr>
    </div>
    <div class="contenido">
      <table class="center" id="input">
        <tr><th>Escribe aqui una entrada CSV o bien</th></tr>
        <tr><th>arrastre un fichero CSV hasta la zona de entrada</th></tr>
        <tr>
          <th>
            <textarea class = "drop_zone" autofocus="" cols = "80" rows = "5" id="original"></textarea>
          </th>
          <th>
            <button type="button" id="parse"> Analizar CSV</button>
          </th>
        </tr>
        <tr>
        </tr>
        <tr>
          <th>
            <div class="example">
              Click para cargar ejemplos:
              <button class ="example" type="button">input</button>
              <button class ="example" type="button">input2</button>
              <button class ="example" type="button">input3</button>
            </div>
          </th>

        </tr>
        <tr>
          <th>
              Cargar archivo:
              <input type="file" class="inputfile" />
          </th>
        </tr>
		
		<tr>
		<th></th>	<!-- espacios -->
		</tr>
		
		<th></th>
		<tr>
		<th></th>	<!-- espacios -->
		 <tr><th>Si desea guardar el contenido de la zona de entrada en la base de datos</th></tr>
		 <tr><th>Introduzca el nombre de usuario y guarde.</th></tr>
		</th>
        </tr>
		
        <tr>
		<th>
		 Usuario: <textarea class = "user_zone" autofocus="" cols = "12" rows = "1" id="usuario"></textarea>
            <button id ="guardar" type="button">Guardar</button> 
          </th>
        </tr>
        
        
         <tr>
		  
          <th>
            <div class="botones_bd">
              Click para cargar registros de la base de datos:
              <button id = "1" class ="botones_bd" type="button">0</button>
              <button id = "2" class ="botones_bd" type="button">1</button>
              <button id = "3" class ="botones_bd" type="button">2</button>
			        <button id = "4" class ="botones_bd" type="button">3</button>
            </div>
         </th>
         </tr>
      </table>

	  <tr>
		<th></th>	<!-- espacios -->
		</tr>
		
		
	 
	    
	
        </tr>
		
      <div class="output" id="finaltable">
      </div>
    </div>
  </div>
